@keyframes modalChange {
    0% {
        -webkit-transform: scale(.2);
        -moz-transform: scale(.2);
        -ms-transform: scale(.2);
        -o-transform: scale(.2);
        transform: scale(.2);
    }

    40% {
        -webkit-transform: scale(.4);
        -moz-transform: scale(.4);
        -ms-transform: scale(.4);
        -o-transform: scale(.4);
        transform: scale(.4);
    }

    60% {
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6);
    }

    80% {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.modalWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;
}

.modalContent {
    width: 60%;
    /* height: 800px; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    /* margin-top: -400px; */
    padding: 2px 0;
    font: normal 12px/24px '微软雅黑', Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 20px 4px #ccc;
    animation: .25s modalChange;
    -webkit-animation: .25s modalChange;
}

.modalHead {
    padding: 0 10px;
}

.modalHead span {
    font-size: 1.5em;
    line-height: 2;
    font-weight: bolder;
    transition: all .2s ease-in-out;
}

.modalHead span:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -40px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.modalHead span:nth-child(2):hover {
    background: rgba(211, 211, 211, .2);
}

.modalBody {
    padding: 10px 50px;
    /* height: 800px; */
    overflow-y: auto;
}

@media screen and (min-width: 800px) {
    .modalContent, .modalBody {
        height: 400px;
    }
    .modalContent {
        margin-top: -200px;
    }
}

@media screen and (min-width: 1024px) {
    .modalContent, .modalBody {
        height: 400px;
    }
    .modalContent {
        margin-top: -200px;
    }
}

@media screen and (min-width: 1280px) {
    .modalContent, .modalBody {
        height: 400px;
    }
    .modalContent {
        margin-top: -200px;
    }
}

@media screen and (min-width: 1440px) {
    .modalContent, .modalBody {
        height: 600px;
    }
    .modalContent {
        margin-top: -300px;
    }
}

@media screen and (min-width: 1920px) {
    .modalContent, .modalBody {
        height: 800px;
    }
    .modalContent {
        margin-top: -400px;
    }
}


@media screen and (min-width: 2160px) {
    .modalContent, .modalBody {
        height: 800px;
    }
    .modalContent {
        margin-top: -400px;
    }
}

.modalBody .modalTitle {
    font-size: 18px;
    line-height: 2;
}

.mainPararaph {
    font-size: 16px;
    line-height: 2;
    padding: 0 20px;
}

.mainPararaph img {
    display: block;
    width: 500px;
    height: 250px;
    margin: 0 auto;
}

.subContent {
    padding-left: 40px;
}

.subContent p {
    font-size: 14px;
    line-height: 2;
}

/* 滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

/* 滚动条的宽度 */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}