<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - BigData</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
		
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>
									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">斑马快跑实时数据分析平台</h1>
						<p class="banner-content hide-to-right lead">相关领域：实时数据分析、数据可视化、高性能ETL</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">客户案例</a></li>            
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<div style="text-align: center;">
								<img src="../assets/img/bigdata/BMKP.png" style="width: 550px; padding-bottom: 20px; padding-top: 20px;">
							</div>
							<!-- <p class="solution-title">星创 (SinoZo) 迁移平台</p> -->

							<div>
								<p class="solution-sub-title">机遇与难题:</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">
                                    作为一家专注于新能源绿色通行服务的互联网+企业，武汉斑马快跑科技有限公司（斑马快跑）以互联网+新能源+斑马纹为制胜法宝，以手机 APP 为平台，以新能源斑马车为载体，以斑马纹为品牌识别形象，致力于提供全通行产业链的新能源汽车出行服务，比如客运服务、人货同行、货物运输等服务。</p>
                                <p style="text-indent: 2em; color: #748182; ">然而，快速的发展和网约车行业的不断饱和为斑马快跑带来了新的挑战：</p>
                                <!-- <ul style="text-indent: 2em; color: #748182; padding: 0px; margin: 0px;"> -->
                                <ul style="padding-bottom: 20px;">
                                    <li>假用车订单和不实行程影响用户用车体验，给行业带来无序竞争</li>
                                    <li>网约车数量增加， IT 环境的稳定性成为制约业务连续性的瓶颈</li>
                                </ul>
                                <p  style="text-indent: 2em; color: #748182;">
                                    与此同时，考虑到行业特点和现有的业务模式，斑马快跑需要选择一个可靠的云服务供应商，用互联网思维拥抱原生的云计算架构。经过对市场上各个品牌的云服务进行综合与细致的对比，斑马快跑的核心团队最终选择了 亚马逊云科技。此外，通过借助 APN 合作伙伴博思云为所提供的专业服务，斑马快跑更是在 亚马逊云科技 上很快实现了 Amazon EMR 大数据分析环境的部署，搭建了自己的完整数据分析平台,并在日常业务应用中获得了一系列显著的收益。
                                </p>
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">三板斧之一&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;多种分析优化业务洞察 提升司机及顾客体验</p>	
								<!-- <img src="../assets/img/migration/gq-jg-2.png" style="padding-bottom: 20px;"> -->
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">首先是优化业务的运营。Amazon EMR 提供了多种分析方式，可以让斑马快跑借助实时分析、预测分析等方式获得优化业务运营的洞察力，从而及时调整策略，为司机与顾客提供更加优质服务。 </p>	
								<p style="text-indent: 2em; color: #748182; ">通过对 Amazon EMR 的快速部署和使用，斑马快跑不仅可以实现对现有开源环境的完全兼容，其数据团队也能够更加专注于获得结果而不是安装和构建环境。此外，作为一个完全弹性的服务，Amazon EMR 还能帮助斑马快跑在早晚用车高峰时及时调整实例数量进行快速分析，而相比传统的方式，在 亚马逊云科技 上，斑马快跑可以更快速地获得结果，并将运营优化建议转交给不同城市的业务团队，最终实现车辆调度的优化，减少顾客的等待时间。</p>
                                <div style="text-align: center; padding-bottom: 30px;">
                                    <div style="display: inline">
                                        <img src="./../assets/img/bigdata/BMKP-01.jpg" style="width: 200px; padding: 0 15px;">
                                    </div>
                                    <div style="display: inline">
                                        <img src="./../assets/img/bigdata/BMKP-02.jpg" style="width: 200px; padding: 0 15px;">
                                    </div>
                                    <div style="display: inline">
                                        <img src="./../assets/img/bigdata/BMKP-03.jpg" style="width: 200px; padding: 0 15px;">
                                    </div>
                                    
                                    <!-- <img src="./../assets/img/bigdata/BMKP-02.jpg" style="width: 200px; display: inline; padding: 0 20px;">
                                    <img src="./../assets/img/bigdata/BMKP-03.jpg" style="width: 200px; display: inline; padding: 0 20px;"> -->
								</div>
                            </div>


							<div>
                                <p class="solution-sub-title">三板斧之二&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;深入挖掘强化数据利用  全面保障业务合规性</p>	
                                <!-- <img src="../assets/img/migration/gq-jg-2.png" style="padding-bottom: 20px;"> -->
                                <p class="solution-paragraph" style="margin-bottom: 20px; color: #748182; ">其次是保障业务的合规性。对于网约车行业来说，谁能够充分地利用数据，谁就可以在竞争中胜出。利用 Amazon EMR，斑马快跑可以让数据为多种业务场景保驾护航，将车辆数据、订单数据、地理位置信息进行关联分析，并借此轻松筛选出假订单，实时封禁可疑司机车辆，保障车队的合规运营与乘客安全，防范业务风险。而业务合规所带来的好处是显而易见的，对监管要求的满足，让斑马快跑可以更有信心地在不同的地区申请政府机构颁发的网约车牌照， 亚马逊云科技 在全球各地的合规性支持也让斑马快跑可以用合规的平台开拓海外市场。</p>	
                                <div style="text-align: center; padding-bottom: 30px;">
                                    <img src="./../assets/img/bigdata/BMKP-V01.jpg" style="width: 600px;">
                                </div>
                            </div>

							<div>
                                <p class="solution-sub-title">三板斧之三&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;弹性云服务加速创新  灵活应对市场环境变化</p>	
                                <!-- <img src="../assets/img/migration/gq-jg-2.png" style="padding-bottom: 20px;"> -->
                                <p class="solution-paragraph" style="color: #748182; ">此外，借助 亚马逊云科技 弹性的云服务，斑马快跑还实现了持续的业务创新，能够更快速地应对市场竞争环境的变化。斑马快跑可以快速地在 亚马逊云科技 上部署新的应用，以更好地满足市场营销的需求，这些应用能够与来自 Amazon EMR 所提供的数据洞察力结合，让其实现精准的促销。</p>
                                <p class="solution-paragraph" style="color: #748182; ">此外， 亚马逊云科技 更能让斑马快跑用更短的时间与更低的成本去尝试新的创新想法。通过 “数据+创新应用” 的方式，斑马快跑可以提升司机与乘客在斑马快跑这一平台上的黏性，从而为业务的持续增长奠定良好的技术基石。</p>
                                <p class="solution-paragraph" style="margin-bottom: 30px; color: #748182; ">随着网约车业务国际化的不断加速，斑马快跑将以 “BMKP”品牌在印度、东南亚等海外市场提供便捷流程的租车服务、包含认证司机与导游的海外包车服务以及机场接送机服务，逐渐开拓全球市场。斑马快跑会继续与 亚马逊云科技 保持密切的合作，依托 亚马逊云科技 在全球一致的技术架构和广泛分布的区域，将在中国部署的大数据与分析服务快速部署至海外，为当地的业务团队和用户提供安全、合规、可靠的服务。</p>
                                <p class="solution-sub-title">最终架构图：</p>
                                <div style="text-align: center; padding-bottom: 60px;">
                                    <div style="display: inline">
                                        <img src="./../assets/img/bigdata/BMKP-V02.png" style="width: 800px;">
                                    </div>
                                    
                                    <!-- <img src="./../assets/img/bigdata/BMKP-02.jpg" style="width: 200px; display: inline; padding: 0 20px;">
                                    <img src="./../assets/img/bigdata/BMKP-03.jpg" style="width: 200px; display: inline; padding: 0 20px;"> -->
                                </div>
                            </div>
                            

                            <i style="color: #748182; ">
                                "Amazon EMR 让我们在云上可以快速建立起一个弹性的大数据处理平台，此外，作为一个托管的服务，它能够获得 亚马逊云科技 的完整技术支持，让我们可以用已有的开源经验进行管理和使用，以及更低的成本来实现创新，提升我们在行业内的竞争力。"
                            </i>
                            <br>
                            <i style="color: #748182; float: right;">
                                武汉斑马快跑科技有限公司 CTO  虞凡
                            </i>


						</section>

					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
