<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - DevOps</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
	
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
		<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>
									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">DevOps解决方案</h1>
						<p class="banner-content hide-to-right lead">领先的企业多云管理和行业云，大数据提供商</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">解决方案</a></li>
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<p class="solution-title">1&nbsp;&nbsp;背景与需求分析</p>
							<div>
								<p class="solution-sub-title">1.1&nbsp;&nbsp;DevOps</p>	
								<p class="solution-paragraph">DevOps是促进开发、运维和质量保障等部门之间的沟通、协作和整合所采用的流程与方法论。它是注重开发工程师（Dev）和运维工程师（OPS）之间文化理念，技术层面深入沟通，协商出适合客户业务的“架构变更”和“代码交付”的管理流程，并为了快速开发软件产品或服务，以满足某个业务目标的一种互相依存的关系。</p>		
								<p class="solution-paragraph">针对DevOps的落地，博思云为提供覆盖开发人员架构、开发文化，流程变革、人员角色、关键环节、交付物等DevOps实施咨询方案，形成需求分析、版本管理、持续集成、持续部署，自动化测试、测试验证，发布及监控在DevOps下的流程体系</p>
							</div>
							<div class="solution-img">
								<img src="./../assets/img/devops/DevOps.jpg" alt="">
							</div>
							<div>
								<p class="solution-sub-title">1.2&nbsp;&nbsp;客户痛点分析总结：</p>	
								<ul>
									<li>周期长：客户产品/项目上线周期长的核心痛点</li>
									<li>效率低：客户团队沟通协作不统一，效率低下</li>
									<li>过程复杂：部署环境不一致，不稳定，过程复杂</li>
									<li>版本混乱：版本混乱，无法追溯</li>
								</ul>
							</div>
						</section>
						<br>
						<br>
						<section>
							<p class="solution-title">2&nbsp;&nbsp;项目流程</p>
							<div>
								<p class="solution-sub-title">2.1&nbsp;&nbsp;开发阶段</p>	
								<div class="solution-img">
									<img src="./../assets/img/devops/kf.jpg" alt="">
								</div>
								<p class="solution-paragraph">DevOps要需要整个团队管理的能力，提供不同的角色在平台上进行开发协作，分配不同的权限。开发人员正式进入开发阶段、进行技术考研、探讨及需求确认，还可能需要对接业务上的联系等。在完成开发后、需要对功能进行评审。</p>
							</div>
							<div>
								<p class="solution-sub-title">2.2&nbsp;&nbsp;构建测试阶段</p>	
								<div class="solution-img">
									<img src="./../assets/img/devops/gj.jpg" alt="">
								</div>
								<p class="solution-paragraph">在完成开发任务时、需要对代码构建、进行版本控制。尽可能以增量的方式执行阶段的开发任务，每个Build构建的周期一般不超过两星期，每一次Build构建都会发布为一个内部版本，并提交测试。</p>
								<p class="solution-paragraph">在代码构建完成后、必须严格测试，确保代码风格一致，使用调试模式启动程序，一行一行单步执行代码，并注意调试输出。测试分支的代码测试通过后、才能够合并到主分支。同时还要备注当前分支的描述、方便查看回滚时的信息。测试人员测试完毕后、编写测试报告、执行情况、Bug汇总及测试总结等情况。</p>
							</div>
							<div>
								<p class="solution-sub-title">2.3&nbsp;&nbsp;部署搭建阶段</p>	
								<div class="solution-img">
									<img src="./../assets/img/devops/bs.jpg" alt="">
								</div>
								<p class="solution-paragraph">对分支上的代码进行测试环境部署、再进行测试、没有问题的话直接合并到生产环境中。在部署环境复杂的情况下、可通过第三方工具例如 Jenkins 进行持续部署、简化部署就节约了开发时间等。</p>
							</div>
							<div>
								<p class="solution-sub-title">2.4&nbsp;&nbsp;监控阶段</p>	
								<div class="solution-img">
									<img src="./../assets/img/devops/jk.jpg" alt="">
								</div>
								<p class="solution-paragraph">监控是业务在发生故障前或已经发生故障后，做出及时处理，保障业务持续提供服务。分为基础资源和关键业务指标的监控：（1）基础资源的健康是保障业务持续运行基础的基础。做好基础资源状态的监控是为了避免故障出现或在故障出现前提前进行处理，而日志是为了故障出现后快速进行解决以免造成业务的损失；（2）关键业务指标是业务提供最好体验的核心。做好实时监控，避免某个参数指标的问题造成业务体验差或者业务不可访问，监控是为了提前获得业务故障的预警，以及在出现故障时能够及时分析并解决，日志是为在出现故障时能够作为故障解决的依据并作为日后审计依据。</p>
							</div>
							<div>
								<p class="solution-sub-title">2.5&nbsp;&nbsp;运维阶段</p>	
								<div class="solution-img">
									<img src="./../assets/img/devops/yw.jpg" alt="">
								</div>
								<p class="solution-paragraph">运维是为让应用程序能够健康运行以及持续提供业务价值，所以需要我们提供一套完善的运维管理体系，其中包括负载健康巡检，基础资源状态监控及日志，关键业务指标的监控及日志，日志管理，响应管理，配置管理，人员管理，优化管理。</p>
							</div>
						</section>
			
					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
