<!DOCTYPE html>
<html>

<head>
    <title>BosiCloud - Migration</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
    <link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
    <div class="page-wrap">

        <!-- header -->
        <header class="header header--visibility">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
                    <div class="header__menu">

                        <!-- onepage-nav -->
                        <nav class="onepage-nav">

                            <!-- onepage-menu -->
                            <ul class="onepage-menu">
                                <li class="current-menu-item"><a href="./index.html">首页</a>
                                </li>
                                <li><a href="./index.html">关于我们</a>
                                    <ul class="sub-menu">
                                        <li><a href="./product.html">产品设备</a>
                                        </li>
                                    </ul>
                                </li>
                                </li>
                                <li><a href="./index.html#id-3">能力认证</a>
                                </li>

                                <li><a onclick="clickScrollView('#id-4')">解决方案</a>
                                    <ul class="sub-menu">
                                        <li><a href="./devOps.html">DevOps</a>
                                        </li>
                                        <li><a href="./bigDataAndAI.html">BigData</a>
                                        </li>
                                        <li><a href="./Migration.html">Migration</a>
                                        </li>
                                        <li><a href="./msp.html">MSP</a>
                                        </li>
                                        <li><a href="./logAndScheme.html">日志管理与集成</a>
                                        </li>
                                        <!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
                                    </ul>
                                </li>


                                <li><a onclick="clickScrollView('#id-5')">客户案例</a>

                                    <ul class="sub-menu">
                                        <li><a href="./DevOpsList.html">DevOps</a>
                                        </li>
                                        <li><a href="./BigDataList.html">BigData</a>
                                        </li>
                                        <li><a href="./MigrationList.html">Migration</a>
                                        </li>
                                        <li><a href="./MspList.html">云托管</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="./index.html#id-6">联系我们</a>
                                </li>
                            </ul><!-- onepage-menu -->

                            <div class="navbar-toggle"><span></span><span></span><span></span></div>
                        </nav><!-- End / onepage-nav -->

                    </div>
                </div>
            </div>
        </header><!-- End / header -->

        <!-- banner -->
        <div class="pages-banner">
            <div class="pages-banner-content">
                <div class="container">
                    <h1 class="banner-title hide-to-left">FOLLOWME</h1>
                    <p class="banner-content hide-to-right lead">相关领域：交易社区平台</p>
                </div>
            </div>
        </div>
        <!-- End / banner -->

        <!-- breadcrumb -->
        <div class="bc-content">
            <div class="container breadcrumb">
                <ul>
                    <li><a href="./index.html" class="home"></a></li>
                    <li><a href="#">客户案例</a></li>
                </ul>
            </div>
        </div>
        <!-- End / breadcrubm -->

        <!-- Content-->
        <div class="md-content">

            <!-- Section -->
            <section class="md-section bg-gray" id="id-2">
                <div class="container solution contxt">
                    <section class="csection">
                        <div class="flex-layout" style="align-items:center;">
                            <h3 style="font-weight: bold;">案例研究: FOLLOWME</h3>
                            <div style="text-align: right;">
                                <img src="../assets/img/msp/FOLLOWME-a.png" style="width:280px">
                            </div>
                        </div>
                        <p>"亚马逊云科技合作伙伴博思云为以丰富的经验和专业的技术实力帮助我们顺利完成了业务的迁移并实现了架构的优化，让我们在亚马逊云科技上构建起一个覆盖全球的交易社区平台，满足了国际市场拓展的需求。通过Amazon Global Accelerator来加速中国内地用户到FOLLOWME全球平台的访问，将跨国访问体验从原来的数百毫秒缩短至几毫秒。"</p>
                        <p style="text-align: right;">FOLLOW ME TECHNOLOGY LIMITED CEO 万振民</p>
                        <h6>关于FOLLOWME</h6>
                        <p class="link-hover"><a href="https://www.followme.com/" target="_blank">FOLLOWME</a> 成立于2015年，是一个交易社区。全球不同国家的外汇交易用户可以通过 FOLLOWME 建立联系。FOLLOWME为外汇交易用户和交易商搭建了一个桥梁，通过社交化的体验，让用户能够及时分享交易商和交易员的信息，帮助其他的用户做出更加明智的选择。在这个社区，用户可以分享交易经验，展示交易策略，与其他交易者一起交流。是全球活跃的交易社区之一，截至2020年8月，注册用户涵盖170个国家的50万人，订单笔数超过3400万，交易量高达46亿美元。</p>
                        <h6>业务需求与挑战</h6>
                        <p> 秉承通过社区让交易变得更透明、更容易，以及用户至上、科技向善的理念，FOLLOWME实现了快速的全球发展，目前用户分布在170各国家和地区，并且与全球2000余家交易商的账户建立连接，帮助用户通过COPYTRADE 来实现自动跟随交易。要对全球如此庞大体量的用户提供稳定的服务，对于FOLLOWME的技术团队来说并非一件容易的事情。在5年的快速发展历程中，FOLLOWME面临了众多亟待解决的问题和多重业务挑战。首先是如何为全球用户提供顺畅的社交化交易体验。用户、交易商分布在不同的时区、国家，跨境网络的高延迟和低可靠性一直是业务全球化发展过程中面临的重要问题。“不同国家和地区的网络环境不一致，我们很难做到优化，而中国内地的注册用户在过去几年中呈现了指数级增长，已经达到总用户数的70%左右，在与海外交易商的数据通信中，高延迟会带来负面的用户体验，甚至影响到用户的正常交易。" FOLLOW ME TECHNOLOGY LIMITED CEO万振民说。其次是交易用户的需求不断变化，业务需要持续的创新才能够保持用户持续的活跃度。因此FOLLOWME平台推出了搜索引擎与内容推荐引擎进行差价合约交易、保证金交易等垂直领域的全网内容采集，并根据用户行为习惯，实现内容的精细化推荐。而这些数据的分析和处理都离不开强大的计算能力提供支持，对于FOLLOWME的团队来说，在云上构建全球业务平台成为解决问题和挑战的唯一选择。</p>
                        <h6>为什么选择Amazon Web Services（亚马逊云科技）</h6>
                        <p> 为了应对全球化业务发展中的挑战，经过对不同云服务商的试用和评估，FOLLOWME最终选择了将业务部署在Amazon Web Services上，并采用亚马逊云科技合作伙伴博思云为提供的迁移服务。之所以做出这样的选择，FOLLOWME认为亚马逊云科技在以下几方面具有明显的优势：</p>
                        <p> 覆盖全球范围的基础设施</p>
                        <p> 亚马逊云科技 连续第十年被评为 Gartner 云基础设施和平台服务魔力象限领导者，有着庞大和领先的全球基础设施占有量，并以显著的速度不断增加。在FOLLOWME全球交易社区平台进行全球化的业务拓展过程中，通过将业务部署到亚马逊云科技，FOLLOWME可以灵活地选择距离主要用户与交易商最近的技术基础设施，从而有效地降低网络延迟所带来的负面体验，同时FOLLOWME也能够依托亚马逊云科技在骨干网络和基础设施上的优势，实现灵活、快速的地域扩展。</p>
                        <p> 全面和易于集成的云服务</p>
                        <p class="link-hover"> 作为一个云原生在线交易社区，FOLLOWME希望业务能够充分整合云平台在稳定性和技术上的优势。亚马逊云科技不仅可以提供可靠的SLA为FOLLOWME全球交易社区的全天候运行提供支持，同时丰富的云服务种类和各种云服务之间易于集成的特性也让FOLLOWME的技术团队可以更加轻松的在亚马逊云科技构建业务和实现创新。“我们可以直接利用亚马逊云科技服务以模块化的方式构建应用，<a href="https://aws.amazon.com/cn/ec2/autoscaling/" target="_blank">Amazon EC2 Auto Scaling</a> 弹性伸缩服务、<a href="https://aws.amazon.com/cn/elasticloadbalancing/" target="_blank">Elastic Load Balancing</a>负载均衡服务和 <a href="https://aws.amazon.com/cn/cloudfront/" target="_blank">Amazon CloudFront</a> 全球内容分发网络，FOLLOWME实现了部分服务的自动伸缩和负载均衡。保证系统开发、运维、交付效率的同时，实现了自动扩容、自动运维等来保证系统弹性，从而为其打造‘无感’用户体验打下了扎实的基础。" 万振民说。在数据类服务方面，亚马逊云科技也能够提供从云上托管数据库到机器学习等一系列的服务来支持FOLLOWME实现数据业务创新。</p>
                        <p> 良好的服务和支持体验</p>
                        <p> 亚马逊云科技致力于推动行业创新，为客户提供了丰富的资源与扶持计划来加速中小企业快速成长。对于FOLLOWME这样希望利用云平台实现业务全球发展的企业来说，可以借鉴亚马逊云科技的技术团队与合作伙伴团队的经验和架构参考实现快速的云上部署。“在全球化的业务群中，来自中国内地的用户占到我们所有用户的70%，我们自然会更关注中国用户的访问体验，而博思云为作为一家中国本土的亚马逊云科技合作伙伴，对于亚马逊云科技服务的特点和中国内地的网络情况有着丰富的经验，在博思云为的协助下，我们通过Amazon Global Accelerator来加速中国内地用户到FOLLOWME全球平台的访问，将跨国访问体验从原来的数百毫秒缩短至几毫秒。亚马逊云科技及其合作伙伴的良好服务给我们留下了深刻的印象。" 万振民谈到。</p>
                        <h6>获得的成效</h6>
                        <p>通过与亚马逊云科技合作伙伴博思云为合作，FOLLOWME将业务整体迁移至亚马逊云科技云平台后取得了一系列的显著成效：</p>
                        <p>首先是更好的满足了国际市场拓展的业务需求。亚马逊云科技合作伙伴博思云为在业务全球化部署方面具有丰富的经验，能够根据FOLLOWME的业务特点结合亚马逊云科技在全球基础设施方面的优势提供最合适的建议和方案，帮助FOLLOWME构建起一个覆盖全球170余各国家的低延迟交易社区。“通过使用亚马逊云科技在美国弗吉尼亚北部、新加坡、伦敦、东京等几个地理区域的云服务，我们能够与世界主要市场的交易商建立起高可靠、低延迟的网络连接，并与香港总部实现数据互通，将网络时延对于交易体验的影响降到最低。" 万振民说，“并且亚马逊云科技提供了VPC Peering的功能，让我们可以轻松的把各个区域的VPC进行互联，组建一张覆盖全球的网络，依托亚马逊云科技的网络优势进一步的改善全球用户的访问体验，将实时订单传输缩短至毫秒级，提升用户的满意度。"</p>
                        <p class="link-hover">其次是大幅提升了数据处理方面的能力。将业务平台整体迁移至亚马逊云科技之后，FOLLOWME可以依托亚马逊云科技所提供的强大计算能力和丰富的数据类服务对交易数据进行更加全面的采集、处理与分析，帮助客户实现分析结果的可视化，提供以数据驱动的洞察力辅助交易平台上的用户做出决策。根据亚马逊云科技合作伙伴博思云为的建议，FOLLOWME将业务中的非结构化MongoDB和结构化MySQL数据通过<a href="https://aws.amazon.com/cn/dms/" target="_blank">Amazon Database Migration Service</a> 快速并安全地将数据库迁移和同步到Amazon RDS for PostgreSQL中，作为后期大数据分析基础数据。通过充分利用亚马逊云科技各服务之间易于整合的优势，FOLLOWME使用<a href="https://aws.amazon.com/cn/elasticsearch-service/" target="_blank">Amazon Elasticsearch Service</a>这一完全托管、安全且可扩展的 Elasticsearch服务进行相关业务需求分析，在云上更好发挥数据的价值。</p>
                        <p>此外，借助亚马逊云科技合作伙伴博思云为的专业服务，FOLLOWME不仅缩短了业务迁移所需的时间，也实现了成本的优化，提升了运维的效率。“亚马逊云科技团队与博思云为在我们迁移和使用的过程中与我们建立了良好的沟通机制和快速的响应，在一些关键业务的迁移部署上提供了非常有帮助的经验和指导，有效避免迁移过程中的问题。" 万振民谈到。结合Amazon本身在多可用区部署以及高可用架构方面的优势以及自动化的监控手段，让FOLLOWME能够简化运维团队的日常工作量，从而更快速的响应用户的需求，加速业务上的创新。</p>
                        <p>未来，FOLLOWME将继续深化与亚马逊云科技的合作，在 AI、机器学习、DevOps、Serverless、容器应用等方面进行尝试，实现应用的松耦合，全面拥抱云服务，构建智能化的推荐引擎，为业务的创新提供支持。此外，FOLLOWME也将尝试引入Amazon Media Services为交易社区增加视频直播服务，突出社交化交易平台的分享优势。</p>
                        <div style="display: flex;align-items: center">
                            <div style="flex: 2">
                                <img src="../assets/img/logo.png">
                            </div>
                            <div style="flex:7">
                                <h6>关于博思云为</h6>
                                <p class="link-hover"><a href="http://www.bosicloud.com/" target="_blank">博思云为BosiCloud</a>是一家专注于云的托管服务提供商，同时也是亚马逊云科技高级咨询合作伙伴和全球渠道合作伙伴。博思云为拥有多项认证的资深技术核心团队，且具备丰富的产品开发经验。以专业的咨询服务和健全的运维服务体系，致力于为企业客户打造/提供领先、适应中国市场需求且基于亚马逊云科技的产品及服务，并帮助客户无缝地构建和使用基于亚马逊云科技的解决方案，加速客户向云端迁移，以云技术助推企业数字化转型。目前，博思云为目前已经获得50+亚马逊云科技认证，同时还获得了4项亚马逊云科技能力认证，服务过的客户数超过100+。<br> </p>

                            </div>
                        </div>
                    </section>

                </div>
            </section>
            <!-- End / Section -->


        </div>
        <!-- End / Content-->

        <!-- footer -->
        <div class="footer">
            <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
            <div class="container">

                <div class="footer__wrapper">

                    <div class="footer__social">

                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                        </a><!-- End / social-icon -->

                    </div>

                    <p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn"
                            style="color:white">粤ICP备16041562号-1</a></p>


                </div>
            </div>
        </div><!-- End / footer -->
        <div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
    </div>
    <!-- Vendors-->
    <script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
    <!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
    <script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>