<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - DevOps</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
		
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
	<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>

									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">格兰仕电商平台</h1>
						<p class="banner-content hide-to-right lead">相关领域：CICD、容器化服务</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">客户案例</a></li>            
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<p class="solution-title">&nbsp;&nbsp;格兰仕电商平台</p>

							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;公司简介：</p>	
								<p class="solution-paragraph">格兰仕集团是一家综合性白色家电品牌企业，是中国家电业具有强大影响力的龙头企业之一。格兰仕自1978年9月28日创立以来，从轻纺明星企业，到微波炉“黄金品牌”，再到综合性白色家电集团，一直是中国制造在国际市场上的一张名片。怀抱“百年企业 世界品牌”愿景，秉持“努力，让顾客感动”宗旨，格兰仕匠心智造精品电器，造福全球近200个国家和地区人民，创造更简单有趣的G+智慧家居解决方案，满足世界各地人民日益增长的美好生活需要和不断变化的消费升级需求。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;需求分析：</p>	
								<p class="solution-paragraph">格兰仕原在本地服务器搭建了电商网站，并拥有大量的订单交易。伴随着业务的增长。通过开发和部署新的增强服务和应用，跟上客户和用户不断变化的需求，确保客户和用户都可以使用这些IT服务和应用，并保证其数据和信息安全成为了格兰仕首要考虑的问题。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">1.3&nbsp;&nbsp;方案优势:</p>
								<ol>
									<li> 把传统的手工操作转变为自动化流程，能够持续开发、持续测试、持续集成、持续部署及持续监控，提高产品开发、运维部署的效率，减少人为因素引起的失误和事故，提早发现问题并及时地解决问题。</li>
									<li>减少本地服务器压力、节约成本、能够提高产品或服务的交付速度，帮助企业具备足够的敏捷性、精益性及安全性，快速应对客户需求、市场条件、竞争压力或法规要求等方面的变化。</li>
								</ol>
								<p class="solution-paragraph">通过AWS部署DevOps电商平台， 利用相关服务提供平台的安全、快速、自动化流程、日志监控等服务来管理该平台， 且按需使用资源，高度可扩展、灵活易管理的业务模式，具有大规模、虚拟化、高可靠及弹性配置等属性。</p>		
<!-- 		
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
						</section>

						<section>
							<p class="solution-title">&nbsp;&nbsp;解决方案：</p>
							<div>
								<div class="solution-img">
									<img src="../assets/img/portfolio/customer_case/DevOps-Galanz.png" alt="">
								</div>
								<p class="solution-paragraph">对此，格兰仕在多方考察后，决定使用AWS来帮助他们管理电商网站，同时本地服务器作为ECS代码仓库。在本方案，采用了多AZ部署以确保高可用性，使用AWS WAF 作为Web 应用程序防火墙及Lambda限制入站访问规则，使用了AutoScaling与ALB去确保中间件等无状态服务器的处理能力，并使用AWS的RDS for MySQL作为数据存储，以CodePipeline、CodeBuild、CodeDeploy、CodeCommit、CodeStar实现DevOps。结合CloudWatch、X-Ray提供完整的监控报警能力，形成了可配置、可重建、可追溯、自动化、可视化、服务化的优秀DevOps工具链。</p>
							</div>
							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;方案收益:</p>	
								<p class="solution-paragraph">该方案开始于2018年10月，结束于2019年2月初，实施以来，客户的研发管理由传统的手工作坊式进入到高效、敏捷、协同的状态，所有的动作全部通过一体化的平台进行组织，可靠性、计算成本、存储资源成本、运维成本等各方面都得到了巨大的优化提升。</p>
							</div>
						</section>
			
					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
