<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - Migration</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
		
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
	<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
										</ul>

									</li>
									<li><a href="./index.html#id-6">新闻资讯</a>
									</li>
									<li><a href="./index.html#id-7">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">广汽本田DMP平台迁移</h1>
						<p class="banner-content hide-to-right lead">相关领域：数据分析、存储、实时数据传输</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">客户案例</a></li>            
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<div style="text-align: center;">
								<img src="../assets/img/migration/gq.png" style="width: 550px; padding-bottom: 20px; padding-top: 20px;">
							</div>
							<!-- <p class="solution-title">星创 (SinoZo) 迁移平台</p> -->

							<div>
								<p class="solution-sub-title">客户简介：</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">广州本田汽车有限公司成立于1998年7月1日，是由广州汽车集团股份有限公司、本田技研工业株式会社和本田技研工业(中国)投资有限公司按50：40：10的股比共同投资建设和经营的企业，合资年限为30年。2009年4月，广州本田汽车有限公司更名为广汽本田汽车有限公司（以下简称“GHAC”）。广汽本田洞察汽车市场变化及原有用户的升级需求，引入Honda高端品牌Acura（讴歌），2016年广汽本田迎来了Honda、理念和Acura（讴歌）三品牌运营的新阶段。目前，Honda品牌产品包括：雅阁（ACCORD）、冠道（AVANCIER）、奥德赛（ODYSSEY）、缤智（VEZEL）、凌派（CRIDER）、锋范（CITY）和飞度（FIT）等系列车型；理念（EVERUS）品牌产品包括：理念S1车型；Acura（讴歌）品牌产品包括：CDX、TLX-L、RDX车型以及进口车型。三大产品品牌并驾齐驱，形成强势的品牌矩阵，满足中国消费者日益多样化的产品需求。</p>
								<p style="text-indent: 2em; color: #748182; ">博思云为帮助GHAC迁移和重构了数据管理中心（DMP）、极大缩减了数据中心运维成本、提高了数据利用效率、重新为广汽本田赋能。</p>
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">面临的问题：</p>	
								<img src="../assets/img/migration/gq-jg-2.png" style="padding-bottom: 20px;">
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">1. 数据量波动较大、为满足峰值需要采购大量的服务器。DMP接入了GHAC网站数据、线下门店统计数据、第三方分析数据等多方数据，未来考虑接入智能电动汽车充电桩等数据。数据量在白天较大、在19:00左右达到峰值，然而午夜的数据量极少,大部分云厂商预付费模式会在业务初期消耗极大资金。 </p>	
								<p style="text-indent: 2em; margin-bottom: 0px; color: #748182; ">2.作为汽车制造企业、GHAC在大数据分析和BI上并不想投入过多的人力资源、但是Hadoop生态的基础架构运维和Debug需要数据团队分配额外的技术工程师负责。</p>
								<p style="text-indent: 2em; color: #748182; ">3.GHAC拥有超过8000位员工,DMP系统现有的身份和访问管理基于账号和静态密码，无法实现密码轮换和基于角色的访问控制。</p>
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">Bosicloud解决方案</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">博思云为(Bosicloud)首先将EC2 Autoscaling应用至GHAC的数据收集服务器、借助这项AWS提供的水平拓展服务，GHAC即可以实现根据服务器CPU使用率部署合适的计算资源，也可以执行定时计划、在规定的时间段增加/减少服务器数量以满足业务需求。以尽可能低的成本保证稳定、可预测的性能。</p>
								<ul style=" color: #748182; padding-bottom: 16px;">
									<li>选择Kafka作为消息队列、解耦合数据收集端和数据消费端。</li>
									<li>面对实时数据、博思云为迁移了DMP系统原有的Spark-Streaming组件对实时数据进行处理。之后存储到数据湖S3中、超过1年的数据将会被存储在更经济的Glacier中持久化存储。</li>
									<li>面对批量数据、在使用Hadoop框架时。博思云为选择AWS EMR服务作为批量数据处理中心。Amazon EMR 提供的托管 Hadoop 框架可以让GHAC快速、轻松、经济高效地在多个动态可扩展的 Amazon EC2 实例中处理大量数据。客户还可以运行其他常用的分布式框架（例如 EMR 中的 Apache Spark、HBase、Presto 和 Flink），以及与其他 AWS 数据存储服务（例如 Amazon S3 和 Amazon DynamoDB）中的数据进行交互。</li>
								</ul>	
							</div>
							<div>
								<p class="solution-sub-title">在迁移后，负载均衡、数据处理、数据库等方面获得了极大的优势：</p>
								<img src="../assets/img/migration/gq-fw.png" style="padding-bottom: 30px;">
							</div>

							<div>
								<p class="solution-sub-title">最终架构图：</p>
								<img src="../assets/img/migration/gq-jg-1.png" style="widows: 800px; padding-bottom: 40px; padding-top: 10px;" >
							</div>

							<div>
								<p class="solution-sub-title">迁移成果( Outcome )：</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">在迁移至AWS后，DMP平台服务器成本减少了29%。通过使用AWS EMR服务，极大减少了Hadoop工程师的运维压力。利用EC2 Autoscaling，UI&API界面可用性提升至99.9%。</p>
							</div>

						</section>

					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a>号-1</p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
