<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - 日志管理与集成</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
	
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
	<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>

									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">日志管理与集成</h1>
						<p class="banner-content hide-to-right lead">领先的企业多云管理和行业云，大数据提供商</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">解决方案</a></li>        
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<p class="solution-title">&nbsp;&nbsp;日志管理与集成解决方案</p>
							<div>
								<p class="solution-sub-title">1&nbsp;&nbsp;EKK日志管理解决方案：</p>
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/Solution-EkkLog.png" alt="">
								</div>	
							</div>
							<div>
								<p class="solution-sub-title">1.1&nbsp;&nbsp;方案描述:</p>	
								<p class="solution-paragraph">基于流行的ELK（Elasticsearch,Logstash, and Kibana）系统改造成为更加精简的托管式的适应于亚马逊云科技的EKK解决方案（AmazonElasticsearch Service, Amazon Kinesis, andKibana）。采用Kinesis替代Logstash，使用亚马逊云科技托管的Elasticsearch服务提供更加稳定高效的运行环境。通过KinesisAgent收集目标机器上的特定信息/日志，传输至Kinesis处理，备份至S3同时汇总数据至Elasticsearch进行自定义的可视化展示。为了更加精准的把握用户使用习惯等数据，采用Lambda实时收集并传输ELB的日志信息至S3与Elasticsearch。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">1.2&nbsp;&nbsp;应用场景:</p>	
								<p class="solution-paragraph">EKK是一套基于亚马逊云科技的实时日志分析管理平台，通过Agent可以收集系统日志、应用程序日志、安全日志等，并集中处理后可以特定方式进行可视化展示。通常在机器数过大时，日志分布在上百台机器上，难以收集且难以分析；即便使用手工/半手工方式收集了日志信息，采用Grep/Awk/Wc等方式进行统计检索效率也极其低下。因此在大机器数/大分布式集群等条件下采用博思提供的EKK日志管理方案能够很好的解决日志收集、管理、分析与可视化展示的问题。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">1.3&nbsp;&nbsp;方案优势:</p>	
								<p class="solution-paragraph">相比传统的手工/脚本日志管理方式，更加高效且稳定，能够极其高效的收集并分析数百台机器的日志信息，并以自定义的方式进行可视化展示；相比，普通的ELK架构，EKK架构则更加适用于亚马逊云科技平台，采用了多种亚马逊云科技托管服务，能够有效降低运维压力与成本，同时不用担心服务性能瓶颈。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
						</section>

						<section>
							<p class="solution-title">2&nbsp;&nbsp;Splunk管理集成解决方案：</p>
							<div>
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/Solution-Splunk.png" alt="">
								</div>
							</div>
							<div>
								<p class="solution-sub-title">2.1&nbsp;&nbsp;方案描述:</p>	
								<p class="solution-paragraph">采用Splunk管理解决方案，在亚马逊云科技上能够监控管理EC2、RDS、Kinesis、ELB、S3、Config、CloudFront、CloudWatch、FlowLogs、Billing等大多数亚马逊云科技服务，通过实时收集分析亚马逊云科技上各类服务的日志，并以图形化方式进行展示，便于把控整体系统的运行情况。除了基础的服务日志管理外，Splunk还能结合BillingReport与Cloudtrail、CloudWatch等服务的日志信息，分析并管理各个服务的资源使用情况，并提出可行的优化建议；Splunk还能通过可视化的方案展现所有的账户及其组别体系，区分各个账户的权限级别，实时监控并管理账户的使用情况，保证账户的安全性。而且在亚马逊云科技全球区域里，都提供了Cloudformation模板与SplunkAMI，能够一键快速部署Splunk解决方案。</p>
							</div>
							<div>
								<p class="solution-sub-title">2.2&nbsp;&nbsp;应用场景:</p>	
								<p class="solution-paragraph">Splunk是成熟的产品，而且针对亚马逊云科技进行了定制的优化，能够合理的管控亚马逊云科技上大部分服务资源，监控资源的使用情况，同时能够针对账户使用情况进行管理优化，能够针对账单与各个服务使用量进行分析并提出优化方案。适用与所有需要重视亚马逊云科技资源管理、账号安全控制、账单分析与资源优化的场景与客户。</p>
							</div>
						</section>
			
					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
