<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - Migration</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>

									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
		<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>
									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">Migration解决方案</h1>
						<p class="banner-content hide-to-right lead">领先的企业多云管理和行业云，大数据提供商</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">解决方案</a></li>
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2" style="display: flex;">
					<div class="container solution contxt" style="float:left; padding-left: 140px; padding-bottom: 100px; width: 100%;">
						<div>
<!-- 简介 -->
							<section style="width: 67%;">
								<!-- <h5 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: left;">简介</h5> -->
								<br>
								<p style="text-align: center;">安全、快速地将您的系统迁移至亚马逊云科技<br>企业选择公有云以节约成本、敏捷迭代<br>
									Bosicloud专注于帮助客户设计、构建、优化、运营其IT环境,减少企业运维成本、加速创新</p>
								<div style="text-align: center;">
									<br>
									<img src="../assets/img/migration/viewfile.png" style="width: 500px;">
								</div>
							</section>
							<br>
							<br>
							<!-- 阶段 -->
							<section style="width: 67%;">
								<h5 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: left;">Migration阶段：评估</h5>
								<br>
								<br>
								<div style="text-align: center;">
									<br>
									<img src="../assets/img/migration/pg.png" style="width: 600px;">
								</div>
								<br>
								<h6 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: flex;">相关服务&工具</h6>
								<div style="padding-top: 10px;">
									<img src="../assets/img/migration/caf.png" style="float: flex; width: 300px;">
									<ul style="float: right; width: 420px; font-size: 13px; line-height: 2.7;">
										<li>Cloud Adoption Framework</li>
										<li style="list-style: none; color: #748182;">云采用框架 （简称CAF）是一套帮助您加速上云节奏的框架。它提供了相关指导和最佳实践案例、帮助您衡量迁移优先级等重要事项。采用CAF能够使您更快地以较低风险接触云计算,获得业务收益。</li>
									</ul>
								</div>
							</section>
							<br>
							<br>
							<!-- 工具 -->
							<section style="width: 65%;">
								<h5 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: left;">Migration阶段：验证</h5>
								<br>
								<br>
								<div style="text-align: center;">
									<br>
									<img src="../assets/img/migration/yz.png" style="width: 600px;">
								</div>
								<br>
								<h6 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: flex;">相关服务&工具</h6>
								<div style="padding-top: 10px;">
									<div>
										<img src="../assets/img/migration/ec2.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 14px;line-height: 2.7;">
											<li><strong>Amazon EC2</strong></li>
											<li style="list-style: none; color: #748182;">Amazon Elastic Compute Cloud (简称EC2) 是一种 Web 服务，可以在云中提供安全并且可调整大小的计算容量。该服务旨在让开发人员能够更轻松地进行 Web 规模的云计算。</li>
										</ul>
									</div>

									<br>
									<div>
										<img src="../assets/img/migration/vpc.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 14px;line-height: 2.7;">
											<li><strong>Amazon Virtual Private Cloud</strong></li>
											<li style="list-style: none; color: #748182;">借助 Amazon Virtual Private Cloud (简称VPC)，您可以在 亚马逊云科技 云中预置一个逻辑隔离的部分，从而在自己定义的虚拟网络中启动 亚马逊云科技 资源。您可以完全掌控您的虚拟联网环境，包括选择自己的 IP 地址范围、创建子网以及配置路由表和网络网关。</li>
										</ul>	
									</div>

									<br>
									<div>
										<img src="../assets/img/migration/iam.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 14px;line-height: 2.7;">
											<li><strong>Amazon Identity and Access Management</strong></li>
											<li style="list-style: none; color: #748182;">Identity and Access Management (简称IAM) 使您能够安全地管理对亚马逊云科技服务和资源的访问。您可以使用 IAM 创建和管理 亚马逊云科技 用户和组，并使用各种权限来允许或拒绝他们对 亚马逊云科技 资源的访问。</li>
										</ul>	
									</div>
								</div>
							</section>
							<br>
							<br>

							<section style="width: 65%;">
								<h5 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: left;">Migration阶段：部署</h5>
								<br>
								<br>
								<div style="text-align: center;">
									<br>
									<img src="../assets/img/migration/bs.png" style="width: 600px;">
								</div>
								<br>
								<h6 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: flex;">相关服务&工具</h6>
								<div style="padding-top: 10px;">
									<div>
										<img src="../assets/img/migration/cfm.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 13px;line-height: 2.9;">
											<li><strong>Amazon Cloud​Formation</strong></li>
											<li style="list-style: none; color: #748182;">为您提供了一种通用语言来描述和预配置您的云环境中的所有基础设施资源。CloudFormation 使您可以跨所有地区和账户使用简单的文本文件以自动化的安全方式为您的应用程序需要的所有资源建模并对其进行预配置。该文件是您的云环境的单一信任源。</li>
										</ul>
									</div>

									<br>
									<div>
										<img src="../assets/img/migration/auto.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 14px;line-height: 2.7;">
											<li><strong>Amazon Auto Scaling</strong></li>
											<li style="list-style: none; color: #748182;">Amazon Auto Scaling 可以监控您的应用程序并自动调整容量，从而以尽可能低的成本来保持稳定、可预测的性能。使用 Amazon Auto Scaling，您可以在几分钟内为多项服务中的多个资源轻松设置应用程序扩展。</li>
										</ul>	
									</div>

									<br>
									<div>
										<img src="../assets/img/migration/cw.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 14px;line-height: 2.7;">
											<li><strong>Amazon CloudWatch</strong></li>
											<li style="list-style: none; color: #748182;">Amazon CloudWatch 是一种面向开发人员、系统操作员、网站可靠性工程师 (SRE) 和 IT 经理的监控和管理服务。为您提供相关数据和切实见解，以监控应用程序、了解和响应系统范围的性能变化、优化资源利用率，并在统一视图中查看运营状况。</li>
										</ul>	
									</div>
								</div>
							</section>
							<br>
							<br>

							<section style="width: 65%;">
								<h5 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: left;">Migration阶段：优化</h5>
								<br>
								<br>
								<div style="text-align: center;">
									<br>
									<img src="../assets/img/migration/yh.png" style="width: 600px;">
								</div>
								<br>
								<h6 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: flex;">相关服务&工具</h6>
								<div style="padding-top: 10px;">
									<div>
										<img src="../assets/img/migration/cost.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 15px;line-height: 3.3;">
											<li><strong>Amazon Cost Explorer</strong></li>
											<li style="list-style: none; color: #748182;">Amazon Cost Explorer 具有易于使用的界面，可供您随时间可视化、了解和管理您的 亚马逊云科技 成本和使用率。</li>
										</ul>
									</div>

									<br>
									<div>
										<img src="../assets/img/migration/pipeline.png" style="float: flex; width: 150px;">
										<ul style="float: right;width: 540px;font-size: 14px;line-height: 2.7;">
											<li><strong>Amazon CodePipeline</strong></li>
											<li style="list-style: none; color: #748182;">它是一种完全托管的CICD服务，可以帮助您实现发布管道的自动化，从而实现快速而可靠的应用程序和基础设施更新。代码一旦发生更改，都会根据您定义的发布模型自动构建、测试和部署您的发布流程。这使您能够快速而可靠地提供各种功能和更新。</li>
										</ul>	
									</div>

									<br>
								</div>
							</section>
							<br>

							<!-- 案例介绍 -->
							<section style="width: 65%;">
								<h5 style="color: #444F67; font-family: 'Montserrat',Arial,sans-serif; float: left;">案例研究</h5>
								<a href="./MigrationList.html" style="float: right; padding: 20px;">更多 &gt;&gt;&gt;</a>
								<br>
								<br>
								<div class="container" style="float: left">
									<a href="./gb.html" class="link-page-item" style="width: 720px;">
										<div class="item-img" style="width: 35%;">
											<img src="../assets/img/migration/gq.png" style="width: 300px;">
										</div>
										<div class="item-page" style="width: 60%; padding-top: 50px; text-align: center; color: #748182; line-height: 3;">
											
											<h6>广汽本田DMP平台迁移</h6>
											<p class="post__text">相关领域：数据分析、存储、实时数据传输</p>
									

										</div>
									</a>
								</div>


	<!-- 							<div class="container" style="float: left">
									<a href="./devOps.html" class="link-page-item" style="width: 720px;">
										<div class="item-img" style="width: 35%;">
											<img src="../assets/img/migration/oppo.png" style="width: 300px;">
										</div>
										<div class="item-page" style="width: 60%; padding-top: 50px; text-align: center; color: #748182; line-height: 3;">
											<div>
												<h2 class="post__title solution_title">OPPO南京应用系统迁移</h2>
												<p class="post__text">相关领域：移动设备、高可用、网络加速</p>
											</div>

										</div>
									</a>
								</div> -->

								<div class="container" style="float: left">
									<a href="./xc.html" class="link-page-item" style="width: 720px;">
										<div class="item-img" style="width: 35%;">
											<img src="../assets/img/migration/xc.png" style="width: 300px;">
										</div>
										<div class="item-page" style="width: 60%; padding-top: 50px; text-align: center; color: #748182; line-height: 3;">
										
											<h6>星创 (SinoZo) 迁移平台</h6>
											<p class="post__text">相关领域：访问加速、实时日志分析</p>
							

										</div>
									</a>
								</div>


							</section>
						</div>

					</div>
					<div class="container-right">
						<div class="link-img" style="text-align: center; position: fixed; bottom: 10vh; right: 120px; display: none;">
							<img src="./../assets/img/portfolio/Partner-All.jpg">
						</div>
					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer" style="float: left;">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/migration.js"></script>
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>

	</body>
</html>
