<!DOCTYPE html>
<html>

<head>
	<title>BosiCloud - DevOps</title>
	<link rel="shortcut icon" href="./favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Fonts-->
	<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
	<!-- Vendors-->
	<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
	<!-- App & fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
	<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
	<div class="page-wrap">

		<!-- header -->
		<header class="header header--visibility">
			<div class="container">
				<div class="header__inner">
					<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
					<div class="header__menu">

						<!-- onepage-nav -->
						<nav class="onepage-nav">

							<!-- onepage-menu -->
							<ul class="onepage-menu">
								<li class="current-menu-item"><a href="./index.html">首页</a>
								</li>
								<li><a href="./index.html">关于我们</a>
									<ul class="sub-menu">
										<li><a href="./product.html">产品设备</a>
										</li>
									</ul>
								</li>
								</li>
								<li><a href="./index.html#id-3">能力认证</a>
								</li>

								<li><a onclick="clickScrollView('#id-4')">解决方案</a>
									<ul class="sub-menu">
										<li><a href="./devOps.html">DevOps</a>
										</li>
										<li><a href="./bigDataAndAI.html">BigData</a>
										</li>
										<li><a href="./Migration.html">Migration</a>
										</li>
										<li><a href="./msp.html">MSP</a>
										</li>
										<li><a href="./logAndScheme.html">日志管理与集成</a>
										</li>
<!-- 										<li><a href="./DevOpsList.html">更多</a>
										</li> -->
									</ul>
								</li>


								<li><a onclick="clickScrollView('#id-5')">客户案例</a>

									<ul class="sub-menu">
										<li><a href="./DevOpsList.html">DevOps</a>
										</li>
										<li><a href="./BigDataList.html">BigData</a>
										</li>
										<li><a href="./MigrationList.html">Migration</a>
										</li>
										<li><a href="./MspList.html">云托管</a>
										</li>
									</ul>

								</li>
								<li><a href="./index.html#id-6">联系我们</a>
								</li>
							</ul><!-- onepage-menu -->

							<div class="navbar-toggle"><span></span><span></span><span></span></div>
						</nav><!-- End / onepage-nav -->

					</div>
				</div>
			</div>
		</header><!-- End / header -->

		<!-- banner -->
		<div class="pages-banner">
			<div class="pages-banner-content">
				<div class="container">
					<h1 class="banner-title hide-to-left">解决方案</h1>
					<p class="banner-content hide-to-right lead">领先的企业多云管理和行业云，大数据提供商</p>
				</div>
			</div>
		</div>
		<!-- End / banner -->

		<!-- breadcrumb -->
		<div class="bc-content">
			<div class="container breadcrumb">
				<ul>
					<li><a href="./index.html" class="home"></a></li>
					<li><a href="./DevOpsList.html">新闻资讯</a></li>
				</ul>
			</div>
		</div>
		<!-- End / breadcrubm -->

		<!-- Content-->
		<div class="md-content">

			<!-- Section -->
			<section class="md-section bg-gray" id="id-2">
				<div class="container">
					<a href="./devOps.html" class="link-page-item">
						<div class="item-img">
							<img src="../assets/img/blog/Operation.png" alt="">
						</div>

						<div class="item-page">
							<h2 class="post__title solution_title">运维托管解决方案</h2>
							<div class="post__meta">
								<span class="author solution_author">ChaoJieChen</span>
								<span class="date">Spet 10, 2018</span>
							</div>
							<p class="post__text">博思云为提供完善的运维托管服务，在架构设计、监控管理、安全管理、运维管理、应急响应、优化管理等几个方面为客户提供服务。
							</p>
						</div>
					</a>

					<a href="./devOps.html" class="link-page-item">
						<div class="item-img">
							<img src="../assets/img/blog/Log.jpg" alt="">
						</div>

						<div class="item-page">
							<h2 class="post__title solution_title">日志管理与集成解决方案</h2>
							<div class="post__meta">
								<span class="author solution_author">Jun Li </span>
								<span class="date">Web 15, 2018</span>
							</div>
							<p class="post__text">基于流行的ELK（Elasticsearch，Logstash，Kibana）系统改造成为更加精简的托管式的适应于亚马逊云科技的EKK解决方案（Elasticsearch Service，Kinesis，Kibana）。
							</p>
						</div>
					</a>

					<a href="./devOps.html" class="link-page-item">
						<div class="item-img">
							<img src="../assets/img/blog/BigData.jpg" alt="">
						</div>

						<div class="item-page">
							<h2 class="post__title solution_title">大数据与AI解决方案</h2>
							<div class="post__meta">
								<span class="author solution_author">JiaChen Feng</span>
								<span class="date">Mar 20, 2017</span>
							</div>
							<p class="post__text">在亚马逊云科技上构建完整的大数据分析体系，可以采用HIVE+Spark+HDFS的架构使用EC2自建或采用由亚马逊云科技提供的 EMR+S3+RedShift架构来完成大数据分析的目标。
							</p>
						</div>
					</a>
				</div>
			</section>
			<!-- End / Section -->


		</div>
		<!-- End / Content-->

		<!-- footer -->
		<div class="footer">
			<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
			<div class="container">

				<div class="footer__wrapper">

					<div class="footer__social">

						<!-- social-icon -->
						<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
						</a><!-- End / social-icon -->


						<!-- social-icon -->
						<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
						</a><!-- End / social-icon -->


						<!-- social-icon -->
						<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
						</a><!-- End / social-icon -->


						<!-- social-icon -->
						<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
						</a><!-- End / social-icon -->


						<!-- social-icon -->
						<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
						</a><!-- End / social-icon -->

					</div>

					<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>


				</div>
			</div>
		</div><!-- End / footer -->
		<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
	</div>
	<!-- Vendors-->
	<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
	<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
	<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
	<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
	<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
	<!-- App-->
	<script type="text/javascript" src="../assets/js/main.js"></script>
	<script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>