<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - MSP</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
		
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>
									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">齐心集团云托管</h1>
						<p class="banner-content hide-to-right lead">相关领域：相关领域：合规性、运维、无服务器</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">客户案例</a></li>            
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<div style="text-align: center;">
								<img src="../assets/img/msp/qx.png" style="width: 550px; padding-bottom: 70px; padding-top: 60px;">
							</div>

							<div>
								<p class="solution-sub-title">客户简介:</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">
                                    深圳齐心集团股份有限公司,专注政企采购服务20余年，于2009年在深圳A股成功上市，是中国B2B办公物资服务和云视频的龙头企业，服务全球120多个国家和地区。 齐心集团秉持“夯实主业、打造平台、布局生态”的发展战略，致力于打造“硬件+软件+服务”的一站式办公服务平台，为用户提供高效企业综合服务解决方案。通过持续叠加商品品类与服务，齐心集团不断满足企业级客户的一站式办公采购和服务需求。</p>
								<p class="solution-paragraph" style="margin-bottom: 20px; color: #748182;">
                                    政采云(QoP)以互联网为基础，充分运用云计算和大数据技术，以政府采购电子化交易和管理为重点，涉及政府采购全流程、各领域、多用户，集政府采购网上交易、网上监管和网上服务为一体的综合性云服务平台。
平台创新的电子卖场系统及项目采购(电子招投标)系统支持共计11种交易模式，同时提供了涵盖政府采购网、采购专家管理、供应商管理、中介代理机构管理、商品库管理、诚信预警、大数据分析及报表统计等采购业务与财政监管模块，并不断升级迭代。</p>
							</div>

							<div>
								<p class="solution-sub-title">面临的问题:</p>
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">1、缺乏自动化的供应和监视功能，自行运维存在相当的学习成本，无法获得SLA及服务台。</p>
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">2、项目部署上线时间紧，任务重。自研管理系统无法满足业务上线时间要求。</p>
								<p class="solution-paragraph" style="margin-bottom: 20px; color: #748182;">3、云计算资源不同于硬件资产，拥有极大地弹性和成本优化空间，齐心需要一种持续的模式优化云上资产。</p>
                            </div>

							<div>
								<p class="solution-sub-title">Bosicloud解决方案:</p>
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">经过和齐心的深入讨论,Bosicloud团队和齐心项目组达成一致。Bosicloud成为齐心云托管服务的提供商(MSP)，在迁移和后续运维阶段帮助齐心管理，优化亚马逊云科技云上资源。</p>
								<div style="text-align: center;"><img src="../assets/img/msp/three.jpg" style="padding-bottom: 40px; padding-top: 20px;"></div>
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">- 帮助齐心建设自动化的系统发布/更新流程，提高业务上线效率。</p>
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">- 优化IT成本，通过持续的监控，为工作负载选择最合适的计算资源。显著降低齐心IT成本。</p>
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">- 在面对可预测的峰值时，Bosicloud和齐心的业务人员一起实时监控基础资源，保证系统可用性。面对不可预测的峰值时，Bosicloud根据警报配置弹性伸缩策略，维持系统整体可用性。</p>
								<p class="solution-paragraph" style="margin-bottom: 20px; color: #748182;">- Bosicloud帮助齐心建设安全的云上资源中心，通过一系列自动化的方式，7x24小时保障云上安全。Bosicloud还拥有专门的安全团队通过统计算法和机器学习，持续加固云上安全环境。</p>
                            </div>


							<div>
                                <p class="solution-sub-title">涉及到的服务:</p>	
                                <img src="../assets/img/msp/tca.jpg" style="padding-bottom: 20px;">
                            </div>

							<div>
                                <p class="solution-sub-title">托管架构图:</p>	
                                <div style="text-align: center;"><img src="../assets/img/msp/qx-a.jpg" style="padding-bottom: 20px;"></div>
                            </div>


						</section>

					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
