<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - DevOps解决方案</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
	
									<li><a href="./index.html#id-4">解决方案</a>
	
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps解决方案</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成解决方案</a>
											</li>
											<li><a href="./bigDataAndAI.html">大数据与AI</a>
											</li>
											<li><a href="./DevOpsList.html">更多</a>
											</li>
										</ul>
	
									</li>
	
	
									<li><a href="./index.html#id-5">客户案例</a>
	
										<ul class="sub-menu">
											<li><a href="./tsl.html">谢瑞麟电商平台</a>
											</li>
											<li><a href="./galanz.html">格兰仕电商平台</a>
											</li>
											<li><a href="#">中兴RCS咨询与迁移</a>
											</li>
											<li><a href="./demoList.html">更多</a>
											</li>
										</ul>
	
									</li>
									<li><a href="./index.html#id-6">新闻资讯</a>
									</li>
									<li><a href="./index.html#id-7">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">客户案例</h1>
						<p class="banner-content hide-to-right lead">领先的企业多云管理和行业云，大数据提供商</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="./DevOpsList.html">客户案例</a></li>
						<li><a href="./tsl.html">谢瑞麟电商平台</a></li>            
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<p class="solution-title">&nbsp;&nbsp;谢瑞麟电商平台</p>
							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;公司简介:</p>
								<p class="solution-paragraph">谢瑞麟(TSL)珠宝有限公司创立于1971年，1987在香港联交所公开上市，业务遍布港澳，大陆与东南亚。谢瑞麟珠宝：璀璨、纯洁、闪亮、完美，是性价比卓越的婚戒。随着互联网营销的蓬勃发展，谢瑞麟珠宝也大力进军发展网上销售渠道，包括网上旗舰店，无人机体验社区，应用分享，在线应用等.形成线上, 线下实体店，渠道多层次的销售模式。</p>		
								<p class="solution-paragraph">现有的IT系统无法满足多样型的销售发展需求，新应用程序（营销，价格更新，供应商渠道，产品）发布速度增加，但开发团队代码更新、开发、测试、生产部署执行发行周期长、容易出错。维护团队持续增加服务器数量，应用与服务器的对应关系复杂，难以定位是应用本身问题，还是基础架构的问题。</p>				
							</div>
							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;问题分析与需求定义：</p>	
								<p class="solution-paragraph">AWS与博思云为公司的销售与技术联合团队深入到谢瑞麟的IT部门进行调研，调研总结是，IT部门还处于传统的“IT管理”模式更关注具体服务器管理、网络管理和系统软件安装部署等工作。开发人员负责生产就绪代码管理和新功能的实现环节多，而且不是自动化方式,需要新的更高效的方法需要协作与整合，提升维护效率。</p>
								<p class="solution-paragraph">需要文化观念的改变，不断适应快速变化的市场，更多地关注业务的改进与提升。需要转向更多地关注业务的改进与提升模式，关注流程的规范化、标准化，明确定义各个流程的目标和范围、有关人员的责权利，以及各个流程之间的关系等，比如应用定义，配置管理流程等，实现应用程序的自动化构建、部署、测试和发布。</p>			
<!-- 	
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;方案建议：</p>	
								<p class="solution-paragraph">DevOps是利用云解决方案的优势，将敏捷实践与过程组合起来。实现应用程序的持续集成、开发、构建、部署、测试和发行目标。采用DevOps模式促进协作，通过自动化为协作提供方便, 将敏捷活动的持续开发目标扩展到持续集成和发行。</p>		

								<div class="solution-img">
									<img src="../assets/img/portfolio/customer_case/DevOps-Dev.png" alt="">
								</div>
								<p class="solution-paragraph">DevOps核心思想就是：“快速交付价值，灵活响应变化”。其基本原则如下：高效的协作和沟通；自动化流程和工具；快速敏捷的开发；持续交付和部署；不断学习和创新。通过技术工具，把传统的手工操作转变为自动化流程，这不仅有利于提高产品开发、运维部署的效率，还将减少人为因素引起的失误和事故，提早发现问题并及时地解决问题，这样也保证了产品的质量。</p>
								<p class="solution-paragraph">下图展示了基于AWS平台DevOps自动化的流程：</p>
								<div class="solution-img">
									<img src="../assets/img/portfolio/customer_case/DevOps-AWS.png" alt="">
								</div>
								<p class="solution-paragraph">CloudFormation, CodeCommit, CodeBuild, CodeDaploy持续交付部署：实现应用程序的自动化构建、部署、测试和发布。AWS Lambda 可以自动运行代码，而无需配置或管理服务器。只需编写代码并将其上传至CodeCommit，通过Commit自动触发lambda响应来启动应用程序。</p>
								
							</div>
							<div>
								<p class="solution-sub-title">&nbsp;&nbsp;方案效果：</p>	
								<p class="solution-paragraph">该项目起适于2018.06.01日～2018.09.30日，更多地关注业务的改进与提升更快速地交付，响应市场的变化，新APP上线时间从平均4周缩短到2周，维护人员人均维护效率提升70%。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
						</section>
			
					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    粤ICP备16041562号-1</p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
