<!DOCTYPE html>
<html>
	<head>
		<title>BosiCloud - Migration</title>
		<link rel="shortcut icon" href="./favicon.ico">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
	</head>
	
	<body>
		<div class="page-wrap">
			
			<!-- header -->
			<header class="header header--visibility">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
						<div class="header__menu">
	
							<!-- onepage-nav -->
							<nav class="onepage-nav">
	
								<!-- onepage-menu -->
								<ul class="onepage-menu">
									<li class="current-menu-item"><a href="./index.html">首页</a>
									</li>
									<li><a href="./index.html">关于我们</a>
										<ul class="sub-menu">
											<li><a href="./product.html">产品设备</a>
											</li>
										</ul>
									</li>
									</li>
									<li><a href="./index.html#id-3">能力认证</a>
									</li>
		
									<li><a onclick="clickScrollView('#id-4')">解决方案</a>
										<ul class="sub-menu">
											<li><a href="./devOps.html">DevOps</a>
											</li>
											<li><a href="./bigDataAndAI.html">BigData</a>
											</li>
											<li><a href="./Migration.html">Migration</a>
											</li>
											<li><a href="./msp.html">MSP</a>
											</li>
											<li><a href="./logAndScheme.html">日志管理与集成</a>
											</li>
	<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
										</ul>
									</li>
	
	
									<li><a onclick="clickScrollView('#id-5')">客户案例</a>

										<ul class="sub-menu">
											<li><a href="./DevOpsList.html">DevOps</a>
											</li>
											<li><a href="./BigDataList.html">BigData</a>
											</li>
											<li><a href="./MigrationList.html">Migration</a>
											</li>
											<li><a href="./MspList.html">云托管</a>
											</li>
										</ul>

									</li>
									<li><a href="./index.html#id-6">联系我们</a>
									</li>
								</ul><!-- onepage-menu -->
	
								<div class="navbar-toggle"><span></span><span></span><span></span></div>
							</nav><!-- End / onepage-nav -->
	
						</div>
					</div>
				</div>
			</header><!-- End / header -->

			<!-- banner -->
			<div class="pages-banner">
				<div class="pages-banner-content">
					<div class="container">
						<h1 class="banner-title hide-to-left">星创 (SinoZo) 迁移平台</h1>
						<p class="banner-content hide-to-right lead">相关领域：访问加速、实时日志分析</p>
					</div>
				</div>
			</div>
			<!-- End / banner -->

			<!-- breadcrumb -->
			<div class="bc-content">
				<div class="container breadcrumb">
					<ul>
						<li><a href="./index.html" class="home"></a></li>
						<li><a href="#">客户案例</a></li>            
					</ul>
				</div>
			</div>
			<!-- End / breadcrubm -->

			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container solution contxt">
						<section>
							<div style="text-align: center;">
								<img src="../assets/img/migration/xc.png" style="width: 500px;">
							</div>
							<!-- <p class="solution-title">星创 (SinoZo) 迁移平台</p> -->

							<div>
								<p class="solution-sub-title">客户简介：</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">深圳星创成立于2013年底，是一家国内初创的海外手机应用内容提供商。公司可提供覆盖从功能机到智能机等不同机型的丰富手机应用及游戏产品。</p>
								<p style="text-indent: 2em; margin-bottom: 0px; color: #748182; ">公司主要成员均具备多年手机行业的从业经验，有资深的行业技术背景和市场开拓经验。公司陆续与法国、新加坡、韩国、西班牙、葡萄牙、俄罗斯、巴西、埃及、越南等近40个国家的通道和内容提供商建立了长期稳固的合作关系，在给海外用户提供符合当地习俗和风情的丰富内容的同时，也可以给合作伙伴获得长期稳定的业务收入。</p>
								<p style="text-indent: 2em; color: #748182; ">经过将近5年的发展，公司已与多家手机公司开展了长期深入的业务合作，所提供的产品正在为海外近40个国家的用户提供内容服务。</p>		
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">面临的问题：</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">1. 随着体量增长、运维压力增长迅速。产生了『自动化部署应用程序和所有支持的软件和依赖』、『快速创建和复制资源模板』、『在弹性环境下部署实时监控』等等问题。现有运维团队面临严峻挑战。</p>	
								<p style="text-indent: 2em; margin-bottom: 0px; color: #748182; ">2. 为了提升应用性能、客户希望在业务逻辑中引入Redis提高数据查询效率、但缺乏足够的开发人员推动进程。相似的、星创同时希望使用ELK架构对业务数据进行分析、从而驱动商业决策和业务深化。</p>
								<p style="text-indent: 2em; color: #748182; ">3. 需要高质量CDN服务优化东南亚、北非等区域的访问体验。</p>
<!-- 
								<div class="solution-img">
									<img src="./../assets/img/portfolio/solution_case/DevOps-life-2.png" alt="">
								</div> -->
							</div>
							<div>
								<p class="solution-sub-title">Bosicloud解决方案</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182; ">在和星创进行详细的需求分析和评估之后、博思云为和星创都认为迁移至亚马逊云科技后、亚马逊云科技针对计算资源和数据分析提供的多种服务能够完整解决星创现有问题。同时令星创拥有灵活的弹性架构和未来架构拓展的无限可能。</p>
								<ul style=" color: #748182; padding-bottom: 20px;">
									<li>选择多可用区（AZ）部署保障了星创业务高可用性和高可靠性;</li>
									<li>Amazon Cloudwatch和Cloudtrail服务通过图形化界面UI,让运维人员快速建立全资源的管理控制台;</li>
									<img src="../assets/img/migration/xc-cw.png" style="padding-bottom: 20px;">
									<li>EC2 Autoscaling能保障业务的正常运转和资源的高效利用,在访问低谷时缩减资源以节约成本,在高峰期快速水平扩展支撑业务系统;</li>
									<img src="../assets/img/migration/xc-auto.png" style="padding-bottom: 20px;">
									<li>针对Redis和Elasticsearch等服务、亚马逊云科技推出了全托管的Elasticache for Redis和Elasticsearch(集成Kibana)。通过此项服务、星创在进行逻辑和功能测试时、无需花费大量时间调试和管理基础环境。客户可以在几分钟内搭建起具有完整功能的Redis或Elasticsearch集群。</li>
									<li>最后、博思云为帮助星创利用亚马逊云科技 Cloudfront在全球各个地区部署高性能的内容分发网络、加速内容分发、成功优化了访问体验。</li>
								</ul>		
							</div>

							<div>
								<p class="solution-sub-title">最终架构图：</p>
								<div class="solution-img" style="text-align: center;">
									<img src="../assets/img/migration/xc-jg.png" style="widows: 800px; padding-bottom: 30px;">
								</div>
							</div>

							<div>
								<p class="solution-sub-title">迁移成果( Outcome )：</p>	
								<p class="solution-paragraph" style="margin-bottom: 0px; color: #748182;">在迁移至亚马逊云科技后，前端平均响应时间从100ms降低至50ms。通过使用托管的Redis服务--Amazon Elasticache，让数据库的QPS提升了40%。在购买了预留实例后，星创的年度IT成本下降了33%。</p>
							</div>

						</section>

					</div>
				</section>
				<!-- End / Section -->


			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			<div class="footer">
				<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
				<div class="container">

					<div class="footer__wrapper">

						<div class="footer__social">
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
										</a><!-- End / social-icon -->
										
										
										<!-- social-icon -->
										<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
										</a><!-- End / social-icon -->
										
						</div>

						<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司    <a href="http://www.beian.miit.gov.cn" style="color:white">粤ICP备16041562号-1</a></p>
	

					</div>
				</div>
			</div><!-- End / footer -->
			<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
		<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
		<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="../assets/js/main.js"></script>
		<script type="text/javascript" src="../assets/js/sub.js"></script>
	</body>
</html>
